#container-master {
  min-height: calc(100vh - 52px); /*100vh - height of navbar*/
  margin: 5px;
}

#field-img-parent {
  max-width: 600px !important;
  position: relative;
}

#field-img-bg {
  position: absolute;
  left: 0;
  top: 0;
}

#field-img {
  -webkit-clip-path: polygon(20% 0%, 81% 0%, 92% 17%, 92% 83%, 80% 100%, 19% 100%, 7% 81%, 7% 17%);
  clip-path: polygon(20% 0%, 81% 0%, 92% 17%, 92% 83%, 80% 100%, 19% 100%, 7% 81%, 7% 17%);
}